* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

main {
  overflow: hidden;
  position: relative;
  display: block;
  min-width: 300px;
  min-height: calc(100vh - 140px);
  color: var(--black);
}

section {
  position: relative;
  margin-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: normal;
  font-family: var(--lato);
}

p {
  margin-bottom: 20px;
  font-weight: normal;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-family: var(--lato);
}
