<section id="advantages">
	<div class="lock">
		<h1 class="medium-font">
			<span>Monumental Advantages</span>
		</h1>

		<p>
			At Monumental Realty, we know that providing strategic support for
						      experienced agents is the best way to drive value for clients. That’s why
						      we are committed to provide efficient, intuitive, mobile friendly,
						      end-to-end transaction management for every client contact. Through our
						      corporate partnerships, we are able to help busy agents effectively manage
						      every transaction, allowing each agent to maximize his or her potential.
		</p>
		<p>
			We know that agents have different business support needs from their
						      broker. Do you need a broker that provides leads? Does your business need
						      administrative support to help manage transactions? At Monumental Realty,
						      we offer a variety of support services that you can choose from to help
						      maximize your business.
		</p>
		<p>
			Our commitment to helping our agents grow their businesses extends beyond
						      offering industry leading transaction management and customizable support
						      services. At Monumental Realty we are strive to design commission and fee
						      structures that fit the needs of each individual agent or team, giving you
						      the financial freedom to grow your business on your terms.
		</p>
		<p>
			If you are ready to have more control over your business, contact us and
						      speak with a representative. Don’t settle for a business designed to fit
						      the needs of your broker. Make your business in your image. Make it
						      bigger. Make it better. Make it Monumental.
		</p>
	</div>

	<div class="full-bleed">
		<div class="lock">
			<blockquote>
				<p>
					“It was a true pleasure to work with Monumental Realty. The entire team was responsive, caring, intelligent, and trustworthy. They took care of everything, connecting us with other high-quality service providers, allowing us to stay sane during a nerve-wracking process.”
				</p>
				<cite>
					-- Lindsay C.
				</cite>
			</blockquote>
		</div>
	</div>
</section>
