<section id="contact">
	<div class="lock">
		<h1 class="medium-font-centered">
			<span>Contact Monumental Realty</span>
		</h1>

		<div class="flex">
			<div class="contact-info">
				<p>
					<span>Phone:</span>
					<a href="">555.555.5555</a>
				</p>
				<p>
					<span>Email:</span>
					<a href="mailto:info@yourmonumentalhome.com">info@yourmonumentalhome.com</a>
				</p>
				<div class="social">
					<a href="">
						<img src="/images/icons/facebook.svg" alt="facebook icon"/>
					</a>
					<a href="">
						<img src="/images/icons/instagram.svg" alt="instagram icon"/>
					</a>
				</div>
			</div>

			<div>
				<img src="/images/map.png" alt="image of baltimore"/>
				<address>
					<p>
						201 International Circle, Suite 230
					</p>
					<p>
						Hunt Valley, 21030
					</p>
				</address>
			</div>
		</div>
	</div>
</section>
