<section id="culture">
	<div class="lock">
		<h1 class="medium-font">
			<span>Monumental Culture</span>
		</h1>

		<div class="person">
			<img src="/images/person.jpg" data-position="one" alt="image of a person"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nibh sagittis, feugiat ante eu, rhoncus tortor. Etiam fermentum ante ut pulvinar maximus. Mauris placerat libero consectetur tortor mollis, quis consectetur libero iaculis. Duis placerat semper purus, et maximus nibh pretium vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis ipsum nec ipsum venenatis vulputate id at eros. Morbi dapibus dui vitae tortor faucibus consectetur. Sed tincidunt, ex id rhoncus condimentum, purus justo volutpat eros, vel placerat orci urna ac odio.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamuss risus, id scelerisque urna. Nam pulvinar, tellus malesuada euismod tempus, mi dolor interdum nisl, et mattis dolor nibh sit amet nunc. Nullam rhoncus augue eu metus volutpat consequat. Proin sed ex eu quam laoreet mollis.</p>
			<img src="/images/person.jpg" data-position="two" alt="image of a person"/>
			<p>Nam pulvinar, tellus malesuada euismod tempus, mi dolor interdum nisl, et mattis dolor nibh sit amet nunc. Nullam rhoncus augue eu metus volutpat consequat. Proin sed ex eu quam laoreet mollis. Nam sagittis dolor sit amet faucibus malesuada. In imperdiet arcu vitae metus blandit blandit. Nulla aliquam id velit sit amet gravida. Pellentesque ac nisl vel metus ornare feugiat. Sed vulputate ante vel leo malesuada, a egestas nunc ultrices. Duis facilisis turpis a enim finibus sagittis. Vestibulum quis sodales felis.</p>
		</div>

	</div>

	<div class="options">
		<div>
			<div style="background-image: url(/images/agents.jpg)"></div>
			<h2>
				<span>Agents<span></h2>
					<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nibh sagittis, feugiat ante eu<span></p>
						</div>
						<div>
							<div style="background-image: url(/images/services.jpg)"></div>
							<h2>
								<span>Brokers</span>
							</h2>
							<p>
								<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nibh sagittis, feugiat ante eu,</span>
							</p>
						</div>
					</p>
				</div>
			</div>
		</section>
