<section id="culture">
  <div class="lock">
    <h1 class="medium-font">
      <span>Monumental Culture</span>
    </h1>

    <div class="person">
      <p>
        Whether you’re an experienced agent or just starting out, we recognize
        the impact that company culture can have on your business. At Monumental
        Realty, we pride ourselves on two central principles:
      </p>
      <ul>
        <li>
          Allowing experienced real estate professionals to deliver value to
          your clients without pushing spoon-fed corporate ideology;
        </li>
        <li>
          Providing transaction management and processes to promote efficiency
          and increase your bottom line.
        </li>
      </ul>
      <img src="/images/culture/people.jpg" alt="image of our team" />

      <p>
        We believe that the dedication to their clients and their craft are what
        makes experienced professionals successful. Our job is to provide our
        agents with the tools to be the best versions of themselves. If you are
        interested in a brokerage that gives you the freedom to be you, then
        Monumental Realty is your brokerage.
      </p>
      <p>
        Monumental Realty offers flexible commission and fee structures for
        agents, giving you the freedom to choose what’s best for your business.
        If you’re interested in having the freedom to grow on your terms,
        contact us at
        <a href="mailto:info@yourmonumentalhome.com">
          info@yourmonumentalhome.com
        </a>
        to get more information.
      </p>
    </div>
  </div>
</section>
