<header>
  <div class="lock">
    <img src="/images/logos/icon.svg" alt="image of the Monumental logo" />
    <nav>
      <button data-id="advantages">
        Our Advantages
      </button>
      <button data-id="culture">
        Our Culture
      </button>
      <button data-id="contact">
        Contact
      </button>
    </nav>
  </div>
</header>
