<header>
  <div class="lock">
    <img src="/images/logo-icon.svg" alt="image of the Monumental logo" />
    <nav>
      <button data-id="advantages">
        Our Advantages
      </button>
      {#    <button>Our Services</button>
			<button>Our Properties</button>
			<button>Contact</button> #}
    </nav>
  </div>
</header>
