<section id="mission">
  <div class="lock">
    <h1 class="large-font">
      The Difference is Monumental
    </h1>
    <p>
      Monumental Realty was founded on the simple premise that the best real
      estate agents provide value for their clients far beyond the financial
      interests at play in real estate transactions. Buying or selling a home is
      not merely a financial decision; it is an emotional decision, one that
      impacts clients and their families more than any other decision in life.
      Experienced agents have the expertise to provide comfort, reassurance, and
      guidance to their clients during these important decisions. That comfort
      and reassurance is what drives value in the real estate business. It is
      the reason real estate professionals exist at all.
    </p>
    <p>
      Monumental Realty is a brokerage built to honor those experienced
      professionals that make a difference in their clients’ lives. Our business
      model is simple: attract the best agents in the business by providing them
      the means to serve their clients well and reward those agents with better
      commissions than the competition. Agents that provide Monumental value to
      their clients should be rewarded in kind.
    </p>
		<div class="highlight">
      <p>
        The difference is simple. The difference is experience. <span>The difference is
        Monumental!<span>
      </p>
		</div>
  </div>
</section>
