<section id="properties">
	<div class="lock">
		<h1 class="medium-font">
			<span>Monumental Properties</span>
		</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
	</div>
	<div class="list">
		<div class="wrapper">

			<div style="background-image: url(/images/properties/1.jpg)">
				<div>
					<div>
						<h2>Title of property</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent</p>
					</div>
				</div>
			</div>

			<div style="background-image: url(/images/properties/2.jpg)">
				<div>
					<div>
						<h2>Title of property</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent</p>
					</div>
				</div>
			</div>

			<div style="background-image: url(/images/properties/3.jpg)">
				<div>
					<div>
						<h2>Title of property</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent</p>
					</div>
				</div>
			</div>

			<div style="background-image: url(/images/properties/4.jpg)">
				<div>
					<div>
						<h2>Title of property</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent</p>
					</div>
				</div>
			</div>

			<div style="background-image: url(/images/properties/5.jpg)">
				<div>
					<div>
						<h2>Title of property</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent</p>
					</div>
				</div>
			</div>

			<div style="background-image: url(/images/properties/6.jpg)">
				<div>
					<div>
						<h2>Title of property</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent</p>
					</div>
				</div>
			</div>

			<div style="background-image: url(/images/properties/7.jpg)">
				<div>
					<div>
						<h2>Title of property</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="lock">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent tacitisociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
	</div>
</section>
