<section id="services">

	<div class="lock">
		<h1 class="medium-font">
			<span>Monumental Services</span>
		</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>

		<div class="service">
			<div>
				<h2 class="small-font">Title Services Name</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
			</div>
			<img src="/images/services/escrow.jpg" aria-hidden alt=""/>
		</div>

		<div class="service">
			<div>
				<h2 class="small-font">Closing Services Name</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
			</div>
			<img src="/images/services/closing.jpg" aria-hidden alt=""/>
		</div>

		<div class="service">
			<div>
				<h2 class="small-font">Escrow Services Name</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet molestie turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tincidunt lectus tempus consectetur sagittis. Etiam quis quam dictum sapien eleifend molestie.</p>
			</div>
			<img src="/images/services/escrow.jpg" aria-hidden alt=""/>
		</div>
	</div>

</section>
