#contact {
  margin-bottom: 0;
  padding-bottom: 80px;
  background-color: white;

  & .flex {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    & > div {
      @media (min-width: 768px) {
        width: calc(50% - 10px);
      }
    }
  }

  & address {
    margin-bottom: 10px;

    & p {
      margin-bottom: 2px;
      line-height: 1em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  & .contact-info {
    & p {
      font-size: 16px;
      color: var(--black);
      margin-bottom: 10px;
      padding-right: 40px;

      @media (min-width: 768px) {
        text-align: right;
      }
    }

    & span {
      display: inline-block;
      padding-right: 5px;
    }

    & a {
      color: currentColor;
    }
  }

  & .social {
    display: flex;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      justify-content: flex-end;
      padding-right: 40px;
    }

    & a {
      display: block;
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }
    }

    & img {
      height: 40px;
      width: 40px;
    }
  }
}
