#culture {
  background-color: white;
  padding-bottom: 100px;
  margin-bottom: 0;

  & .person {
    overflow: hidden;
    margin-bottom: 40px;

    & img {
      width: 80%;
      max-width: 600px;
      margin: 0 auto 20px auto;
      display: block;
    }

    & ul {
      padding: 10px 20px;
      max-width: 600px;
      margin: 0 auto 20px auto;
    }

    & a {
      color: inherit;
      text-decoration: underline;
    }

    & li {
      margin-bottom: 10px;
      line-height: 1.2em;
      margin-bottom: 20px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: -15px;
        width: 6px;
        height: 6px;
        border-radius: 2px;
        background: var(--black);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  & .options {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      background-color: var(--black);
    }

    & > div {
      height: 50vw;
      max-height: 400px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 768px) {
        width: calc(50% - 2px);
      }

      &:hover > div {
        transform: scale(1.05);
      }

      &:hover > p {
        opacity: 1;
      }

      &:last-of-type {
        @media (max-width: 767px) {
          margin-top: 20px;
        }

        & h2 {
          @media (min-width: 768px) {
            right: inherit;
            left: 0;
          }
        }
      }

      & > div {
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transform: scale(1);
        transition: transform 1s;
      }

      & h2 {
        color: black;
        background-color: rgba(255, 255, 255, 0.95);
        text-transform: uppercase;
        font-family: var(--baskervville);
        line-height: 1em;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
        letter-spacing: 2px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;

        @media (max-width: 767px) {
          left: 0;
          right: 0;
          bottom: 4px;
          padding: 10px 0;
        }

        @media (min-width: 768px) {
          top: 0;
          right: 0;
          bottom: 0;
          width: 40px;
          writing-mode: vertical-lr;
          text-orientation: upright;
        }
      }

      & p {
        max-width: 280px;
        opacity: 0;
        transition: opacity 1s;

        & span {
          position: relative;
          text-align: center;
          display: block;
          font-size: 18px;
        }

        &:before {
          content: '';
          background: radial-gradient(
            rgba(255, 255, 255, 1) 0,
            rgba(255, 255, 255, 0.8) 30%,
            rgba(255, 255, 255, 0.3) 60%,
            rgba(255, 255, 255, 0) 90%
          );
          height: 20px;
          width: 20px;
          padding: 500px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
