#mission {
  & .highlight {
    & p {
      text-align: center;
      font-size: 20px;
      font-style: italic;
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
      padding: 20px;
      max-width: 600px;
      line-height: 1em;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        background-color: black;
        transition: top 0.5s, bottom 0.5s;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    &:hover p:before {
      top: -10px;
    }

    &:hover p:after {
      bottom: -10px;
    }

    & span {
      display: block;
      margin-top: 10px;
      font-weight: 700;
    }
  }
}
