#services {
  & .lock > p {
    margin-bottom: 30px;
  }

  & .service {
    margin-bottom: 40px;
    padding-bottom: 40px;
    position: relative;
    align-items: center;
    width: 100%;

    @media (min-width: 768px) {
      display: flex;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 90%;
      height: 1px;
      background-color: var(--lightGray);
      transform: translate(-50%);

      @media (min-width: 768px) {
        width: 70%;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    & > div {
      @media (max-width: 767px) {
        margin-bottom: 20px;
        width: 100%;
      }

      @media (min-width: 768px) {
        width: 60%;
        padding-right: 20px;
      }
    }

    & > img {
      @media (max-width: 767px) {
        max-height: 280px;
        margin: 0 auto;
        display: block;
      }
      @media (min-width: 768px) {
        width: 40%;
      }
    }
  }

  & .service:nth-of-type(even) {
    & > div {
      order: 2;
      padding-right: 0;

      @media (min-width: 768px) {
        padding-left: 40px;
      }
    }

    & > img {
      order: 1;
    }
  }

  & .service:last-of-type {
    &:after {
      display: none;
    }
  }
}
