{% extends 'layout.twig' %}

{% block content %}
  <section id="stageone" version="contract">
    <div style="background-image: url(/images/stage.jpg)">
      <div class="logo-background"></div>
      <img src="/images/logos/full-white.svg" aria-hidden />
    </div>
  </section>

  <div class="page-wrapper">
    {% include 'components/mission.twig' %}
    {% include 'components/advantages.twig' %}
    {% include 'components/culture.twig' %}
    {% include 'components/contact.twig' %}
  </div>
{% endblock %}
