<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Monumnental Realty</title>

		<style>
			header,
			main,
			footer {
				display: none;
			}
		</style>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161603136-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-161603136-1');
    </script>
	</head>

	<body>

		{% include 'components/header.twig' %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include 'components/footer.twig' %}

		<link href="https://fonts.googleapis.com/css?family=Baskervville:300,700|Lato:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href='/app.css'/>
		<script src="/app.js"></script>

	</body>

</html>
